<div style="height:100%; width:100vh; background: #fff; margin-left:15px; margin-top:15px; padding:15px">

  <div style="display:flex; align-items:center;">
  
  <a routerLink="/" style="margin-right:20px" href="#">< Revenir à l'app</a>
  <h2 style="margin:0">Infos</h2>
  </div>
  <hr>

  <p><strong>Application réalisée dans le cadre d'une formation ANGULAR 12h à distance pour l'école <a target="_blank" href="https://www.epita.fr/">EPITA</a>.</strong></p>
  <p><u>Formateur</u> : <a routerLink="/teacher" href="#">Frédéric LOSSIGNOL </a>,<br>
  IT Teacher front-end web & mobile 
  <strong>JS / Angular / Ionic / Flutter</strong></p>
  <p><u>Objectif</u> : Appréhender le framework Angular et ses concepts dans le cadre du développement d'une application web.</p>
  <p><u>Création d'une application</u> type <strong>"Trello Like"</strong> : </p>
  <ul>
    <li>Mise en place de l'environnement</li>
    <li>le CLI (Command Line Interface)</li>
    <li>Les ressources : module, component, service, directive, pipe, </li>
    <li>tour dans une application Angular</li>
    <li>Les concepts : components, data-binding, directives, isolation CSS</li>
    <li>Les directives structurelles</li>
    <li>L'évènement</li>
    <li>Les 3 façon de passer des data entre les components</li>
    <li>Architecture : Input et Output pour communiquer entre les components parents/enfants</li>
    <li>Architecture : MVC : Mise en place d'un service et des méthodes accesseurs</li>
    <li>Les Subjects / BehaviorSubjects pour réagir aux changements</li>
    <li>Communiquer avec le monde extérieurs : faire des requests AJAX avec la librairie HtppClient</li>
    <li>Mettre en place la navigation / routing</li>
     <li>Bonus : Utilisation des components de la librairie Angular Material</li>
    <li>Build et publication online</li>
   
  </ul>
</div>