<div style="height:100%; width:100vh; background: #fff; margin-left:15px; margin-top:15px; padding:15px">

  <div style="display:flex; align-items:center;">
    <a routerLink="/" style="margin-right:20px" href="#">< Revenir à l'app</a>
    <h2>Formateur / Frédéric LOSSIGNOL</h2>
  </div>

  <p>Formateur développement front-end / JS / Angular / Flutter</p>
  <a target="_blank" [href]="linkwebsite">Site web</a> | 
  <a target="_blank" [href]=" linkangularprogramm">Programme de formation Angular</a>

  <hr>
  <h3>Toutes les formations</h3>
  <a target="_blank" [href]="'https://frederic-lossignol.com/formations'">Voir toutes les formations</a>


</div>