<!-- DETAIL VISUALISATION -->
<div *ngIf="!openForm">
  <a (click)="openFormAction()" href="#">Mettre à jour</a>
  <h2>{{selectedCard.title}}</h2>
  <hr>
  <p>{{selectedCard.content}}</p>
</div>

<!-- DETAIL EDITION -->
<form *ngIf="openForm" [formGroup]="cardForm" (ngSubmit)="updateCardAction(cardForm)">
  
  <div>
    <a (click)="closeFormAction()" href="#">Annuler</a>
  </div>
  
  <div *ngIf="cardForm.invalid" class="alert error">Corrigez les erreurs</div>

   <input formControlName="id" type="hidden">

  <!-- cardForm.title -->
  <label>Nom</label>
  <input formControlName="title" type="">
  <p *ngIf="cardForm.get('title').hasError('required')" class="error">
    Nom de carte requis
  </p>

  <!-- cardForm.content -->
  <label>Contenu</label>
  <textarea formControlName="content" cols="" rows=""></textarea>
  <p *ngIf="cardForm.get('content').hasError('minlength')" class="error">
    Minimum 5 caractères
  </p>
  <!-- cardForm.priority -->
  <label>Priorité</label>
  <select formControlName="priority" >
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
  </select>

  <div class="form-button">
    <button type="submit">Mettre à jour</button>
  </div>

</form>

 